.iconemenu{
    width: 11%;
    margin-left: 2%;
    margin-top: -7.5% !important;
}

.camada{
    width: 11%; 
    height: 12px;
    border-radius: 10px;
    border: black 2px solid;
    margin-top: 0.5%;
}


.sidenav {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index:1; 
  top: 0; 
  left: 0;
  background-color: #111; 
  overflow-x: hidden; 
  transition: 0.5s; 
  font-family: 'Raleway', sans-serif;
  flex-direction: column;
}


.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 150%;
  margin-top: 5%;
  color: #fff;
  display: block;
  transition: 0.3s;
  background-color: rgba(127, 255, 212, 0);
  text-align: center;
  margin-right: 20%;
}

.sidenav li{
  text-decoration: none;
  color: #fff;
  display: block;
  transition: 0.3s;
  background-color: rgba(127, 255, 212, 0);
  margin-top: -1%;
  margin-right: -5%;
}
.sidenav li:hover{
  cursor: pointer;
}
.sidenav li:hover {
  color: var(--amarelo)
}

.sidenav a:hover{
  cursor: pointer;
}
.sidenav a:hover {
  color: var(--amarelo)
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
@media(max-width: 400px){
  .sidenav {
    height: 0% ; 
    width: 100% !important; 
    position: fixed; 
    z-index:1; 
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    transition: 0.5s; 
    font-family: 'Raleway', sans-serif;
    flex-direction: row-reverse;
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 150%;
    margin-top: 5%;
    color: #fff;
    display: block;
    transition: 0.3s;
    background-color: rgba(127, 255, 212, 0);
    margin-right: 5% !important;
  }
  .camada{
    width: 60px !important;
    height: 20px !important;
    border-radius: 10px;
    border: black 2px solid !important;
    margin-top: 8% !important;
}

}